<!DOCTYPE html>
<html>
<head>
	<title>Hacker school shortener</title>
</head>
<body>
	<h1>Welcome!</h1>
	<form action="/new" method="POST">
		<p>URL: </p>
		<input type="url" name="url">
		<input type="submit">
	</form>
</body>
</html>